.App {
  text-align: center;
}

.table {
  width: 75%;
  margin: 25px auto;
}

.thead-dark th {
  background-color: black;
  color: azure;
  text-align: center;
}

.form-check {
  display: inherit;
}

.form-group {
  width: 400px;
  margin: 30px;
  border: 1px solid rgba(0,0,0,0.15);
  display: inline-block;
  max-width: 100%;
  padding: 0.38rem 1.75rem 0.38rem 0.75rem;
  color: #55595c;
  vertical-align: middle;
  background: #fff;
  border-radius: 0.25rem;
}

.custom-select {
  width: 300px;
}

.btn {
  margin: 0 30px;
}
